.title {
    h1 {
        font-size: 34px;
        font-weight: 400;
        margin-top: 10px;
        color: $titlec;
        margin-bottom: 10px;
        text-transform: uppercase;
        display: inline-block;
        position: relative;
        &::before {
            top: -1px;
            left: -15px;
            content: '';
            background: transparent;
            height: 20px;
            width: 20px;
            border-top: 2px solid #FF5706;
            border-left: 2px solid #FF5706;
            position: absolute;
        }
    }
}